src/main/resources/EPO_crz.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ms.gov.pl/ekw/channel/msepocentralnyrejestrzwrotek/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EUKWKomponentMsepoImplService" targetNamespace="http://ms.gov.pl/ekw/channel/msepocentralnyrejestrzwrotek/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ms.gov.pl/ekw/channel/msepocentralnyrejestrzwrotek/" targetNamespace="http://ms.gov.pl/ekw/channel/msepocentralnyrejestrzwrotek/" version="1.0">

  <xs:element name="ValidationError" type="tns:validationError"/>

  <xs:element name="ValidationException">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="validationException" type="tns:validationResults"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ValidationResults" type="tns:validationResults"/>

  <xs:element name="dodajSyncStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parametry" type="tns:syncStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dodajSyncStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="wynik" type="tns:statusDodania"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dodajWysylke">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parametry" type="tns:wysylka"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dodajWysylkeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="wynik" type="tns:statusDodania"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="pobierzSyncStatus">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="pobierzSyncStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="wynik" type="tns:syncStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="pobierzWysylke">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parametry" type="tns:przesylkaGuid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="pobierzWysylkeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="wynik" nillable="true" type="tns:wysylka"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="syncStatus">
    <xs:sequence>
      <xs:element name="dataRozpoczecia" type="xs:dateTime"/>
      <xs:element name="dataZakonczenia" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validationResults">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="errors" nillable="true" type="tns:validationError"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="field" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:anyType"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statusDodania">
    <xs:sequence>
      <xs:element name="status" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wysylka">
    <xs:sequence>
      <xs:element name="czas" type="xs:dateTime"/>
      <xs:element name="eknGuid" type="xs:string"/>
      <xs:element name="wkwId" type="xs:string"/>
      <xs:element name="przesylkaGuid" type="xs:string"/>
      <xs:element name="przesylkaNumer" type="xs:string"/>
      <xs:element name="eknDatautworzenia" type="xs:dateTime"/>
      <xs:element name="eknDataWyslania" type="xs:dateTime"/>
      <xs:element name="eknStatus" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="przesylkaGuid">
    <xs:sequence>
      <xs:element name="przesylkaGuid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="pobierzWysylkeResponse">
    <wsdl:part element="tns:pobierzWysylkeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dodajSyncStatusResponse">
    <wsdl:part element="tns:dodajSyncStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dodajSyncStatus">
    <wsdl:part element="tns:dodajSyncStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidationExceptionFault">
    <wsdl:part element="tns:ValidationException" name="ValidationExceptionFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pobierzWysylke">
    <wsdl:part element="tns:pobierzWysylke" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dodajWysylkeResponse">
    <wsdl:part element="tns:dodajWysylkeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dodajWysylke">
    <wsdl:part element="tns:dodajWysylke" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pobierzSyncStatus">
    <wsdl:part element="tns:pobierzSyncStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pobierzSyncStatusResponse">
    <wsdl:part element="tns:pobierzSyncStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EUKWKomponentMsepo">
    <wsdl:operation name="pobierzSyncStatus">
      <wsdl:input message="tns:pobierzSyncStatus" name="pobierzSyncStatus">
    </wsdl:input>
      <wsdl:output message="tns:pobierzSyncStatusResponse" name="pobierzSyncStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ValidationExceptionFault" name="ValidationExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="dodajSyncStatus">
      <wsdl:input message="tns:dodajSyncStatus" name="dodajSyncStatus">
    </wsdl:input>
      <wsdl:output message="tns:dodajSyncStatusResponse" name="dodajSyncStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ValidationExceptionFault" name="ValidationExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="dodajWysylke">
      <wsdl:input message="tns:dodajWysylke" name="dodajWysylke">
    </wsdl:input>
      <wsdl:output message="tns:dodajWysylkeResponse" name="dodajWysylkeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ValidationExceptionFault" name="ValidationExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pobierzWysylke">
      <wsdl:input message="tns:pobierzWysylke" name="pobierzWysylke">
    </wsdl:input>
      <wsdl:output message="tns:pobierzWysylkeResponse" name="pobierzWysylkeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ValidationExceptionFault" name="ValidationExceptionFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EUKWKomponentMsepoImplServiceSoapBinding" type="tns:EUKWKomponentMsepo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dodajSyncStatus">
      <soap:operation soapAction="http://ms.gov.pl/ekw/channel/msepocentralnyrejestrzwrotek/dodajSyncStatus" style="document"/>
      <wsdl:input name="dodajSyncStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dodajSyncStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault name="ValidationExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pobierzSyncStatus">
      <soap:operation soapAction="http://ms.gov.pl/ekw/channel/msepocentralnyrejestrzwrotek/pobierzSyncStatus" style="document"/>
      <wsdl:input name="pobierzSyncStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pobierzSyncStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault name="ValidationExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="dodajWysylke">
      <soap:operation soapAction="http://ms.gov.pl/ekw/channel/msepocentralnyrejestrzwrotek/dodajWysylke" style="document"/>
      <wsdl:input name="dodajWysylke">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dodajWysylkeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault name="ValidationExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pobierzWysylke">
      <soap:operation soapAction="http://ms.gov.pl/ekw/channel/msepocentralnyrejestrzwrotek/pobierzWysylke" style="document"/>
      <wsdl:input name="pobierzWysylke">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pobierzWysylkeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault name="ValidationExceptionFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EUKWKomponentMsepoImplService">
    <wsdl:port binding="tns:EUKWKomponentMsepoImplServiceSoapBinding" name="EUKWKomponentMsepoPort">
      <soap:address location="http://172.25.117.92:80/eukw_msepo/EUKWKomponentMsepoImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>